<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Technex18.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4088CA151E82F42200F5B15B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4088CA2C1E82F42400F5B15B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4088CA371E82F42400F5B15B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
